node_modules
dist
.DS_Store
*.log
.idea
.vscode
*.local
.nuxt
.output
coverage
/target
/packages/cli-*/bin/skilld
/packages/cli-*/bin/skilld.exe

# Local
.env
.env.*
!.env.example

.retriv
.skilld-temp
# Skilld references symlinks (recreated by `skilld install`)
.claude/skills/*/references

# Skilld references (recreated by `skilld install`)
.skilld

# E2E test artifacts
.artifacts

.guides-out
